body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.container {
    margin: 20px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
}

section {
    margin-right: 2rem;
}

ul li {
    list-style: decimal;
}

a:hover {
    color: #333;
}

aside {
    background-color: #22f;
    color: #eee;
    width: 20rem;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

aside a {
    color: #fff;
    font-weight: bold;
}

aside a:hover {
    color: #7d8aff;
}
