body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

nav {
    background-color: rgb(0, 0, 50);
    padding: 10px 0px 10px 0px;
}

nav .container {
    margin: 0px 60px 0px 60px;
}

nav .container a{
    color: #eee;
    font-weight: 500;
    font-size: 2ch;
    text-decoration: none;
}

nav .container a:visited{
    color: #eee;
}

.container {
    margin: 20px 120px 20px 120px;
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: decimal;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #333;
}

aside {
    background-color: #22f;
    color: #eee;
    width: 20rem;
    padding: 1rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

aside a {
    color: #fff;
    font-weight: bold;
}

aside a:hover {
    color: #7d8aff;
}

